{% set sort_direction = '' %}
{% set sort_column = '' %}

{% if grid.sortedColumn is defined %}
    {% set sort_column = grid.sortedColumn %}
{% endif %}

{% for col in grid.columns %}
    {% set sorted = '' %}

    {% if sort_column == loop.index0 %} {# sort_column == col.name #}

        {% set sorted = 'sorted' %}

        {% if grid.sortedDirection  == 'asc' %}
            {% set sort_direction = 'desc' %}
        {% else %}
            {% set sort_direction = 'asc' %}
        {% endif %}


    {% endif %}

    <th {{ block('attr') }}  class="sortable_col {{ sorted }} {{ sort_direction }} {{ block('attr_class') }}">

        {% if col.columnName is not null %}
           <a href="javascript: void(0)" onclick="tao_grid_set_sort_column(this,'{{ loop.index0 }}', '{{ sort_direction }}')">{{ col.title|raw }}</a>
        {% else %}
            {{ col.title|raw }}        
        {% endif %}

    </th>

{% endfor %}


{% block attr %}
    {% if col.htmlAttributes is defined %}
        {#{ dump(col.htmlAttributes) }#}
        {% for attr, value in col.htmlAttributes %}
            {% if attr != 'class' %}
                {{ attr }}="{{ value }}"
            {% endif %}
        {% endfor %}
    {% endif %}
{% endblock %}


{% block attr_class %}
    {% if col.htmlAttributes is defined %}
        {% if col.htmlAttributes.class is defined %}
            {{ col.htmlAttributes.class }}
        {% endif %}
    {% endif %}
{% endblock %}