<div class="grid">

    <div class="filter">
        {% block gridFilter %}

            {% block gridFilterStart %}
                {{ form_start(filter)}} {#<form action="{{ url(app.request.attributes.get('_route')) }}" method="post">#}    
            {% endblock %}

                {% block gridFilterBody %}

                {% endblock %}

                <input type="hidden" name="page" value="{{ grid.currentPage }}">
                <input type="hidden" name="sort_col" value="{{ grid.sortedColumn }}">
                <input type="hidden" name="sort_dir" value="{{ grid.sortedDirection }}">    
            
            {% block gridFilterEnd %}
                {{ form_end(filter)}}
            {% endblock %}
                
        {% endblock gridFilter %}
    </div>


    <div class="table-responsive">
        <table class="list table table-striped table-hover">
            <thead>
               <tr>
                    {{ include('TaoSistemasAjaxGridBundle:Grid:columns.html.twig') }}
                </tr>
            </thead>
            {% block gridRows %}
                <tbody>
                    <tr>
                        <td></td>
                    </tr>
                </tbody>
            {% endblock gridRows %}
        </table>
    </div>

    {{ include('TaoSistemasAjaxGridBundle:Grid:batchActions.html.twig') }}

    {{ include('TaoSistemasAjaxGridBundle:Pager:paginator.html.twig') }}

{% block checkRow %}
    {% if item is defined %}
        {% if grid.batchActions|length > 0 and grid.rowIdentifier is not empty %}
            <td><input type="checkbox" class="item_id" name="id" value="{{ attribute(item, grid.rowIdentifier) }}"></td>
        {% endif %}
    {% endif %}
{% endblock %}

{% block gridJs %}

<script>
        $( function() {
                eventos_init();
        } );

        function eventos_init() {
        }
</script>

{% endblock gridJs %}

</div>